# HTTP and requests

In [1]:
import requests

In [1]:
!pip install pillow
!pip install Ipython

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pillow in c:\users\anaconda3\lib\site-packages (10.4.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Ipython in c:\users\anaconda3\lib\site-packages (8.27.0)
Requirement already satisfied: decorator in c:\users\anaconda3\lib\site-packages (from Ipython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\anaconda3\lib\site-packages (from Ipython) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\anaconda3\lib\site-packages (from Ipython) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\anaconda3\lib\site-packages (from Ipython) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\anaconda3\lib\site-packages (from Ipython) (2.15.1)
Requirement already satisfied: stack-data in c:\users\anaconda3\lib\site-packages (from Ipython) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\anaconda3\lib\site-packages (from Ipython) (5.14.3)
Requirement already satisfied: colorama in c:\users\anaconda3\lib\site-packages (from Ipython) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\anaconda3\lib\site-packages (from jedi>=0.16->Ipython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->Ipython) (0.2.5)
Requirement already satisfied: executing in c:\users\anaconda3\lib\site-packages (from stack-data->Ipython) (0.8.3)
Requirement already satisfied: asttokens in c:\users\anaconda3\lib\site-packages (from stack-data->Ipython) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\anaconda3\lib\site-packages (from stack-data->Ipython) (0.2.2)
Requirement already satisfied: six in c:\users\anaconda3\lib\site-packages (from asttokens->stack-data->Ipython) (1.16.0)

In [17]:
import os
from PIL import Image # Python Imaging Library)
from IPython.display import IFrame # IFrame มาจาก IPython (ใช้ใน Jupyter Notebook)

In [30]:
url = 'https://www.ibm.com/'
r = requests.get(url)

r.status_code

200

In [3]:
# view the request header
print(r.request.headers)

{'User-Agent': 'python-requests/2.32.3', 'Accept-Encoding': 'gzip, deflate, br, zstd', 'Accept': '*/*', 'Connection': 'keep-alive', 'Cookie': '_abck=673D84EE5953188AB7A50F7284EE1C36~-1~YAAQhRWkbntTj/iXAQAA1gXVAw4m6jNEyV/qIhUuKQg8uKJDIXakz/JP9IrgvGRWYPwaoMFjY5p5lmg8Bai8zYG8ntO1tf48L2cQ6+Bhs5RpGb1csH/77T7QwaEZpSAmRZvFr+Hzg+RwV++HTORrGjvzmz2kDB9LX3Sbo5P3CMQuKpn6ySHvqo+ukoFGD5tAbo2+cuNimNeQoHmrfN3EivfqpidmyVTPxspcpeyvFcBb/bGb9gqX0+HdUo3cNqwnDulMlwYx5cge/6dUHngid7AIrRTHMz99kTeLnUbnuixTWlqkX6O2F3NOKUG9QeB0nJ1EPGL5FT2xHyr8hN4RacPjqi2U2C0nRixPznREOTkowkxuHqdGuRFjL+V+t/jsRvi/ebpmXaTTR70TLs5kPD2We9eR4Jjr12hvHK1AJYqNXSPiysykNBP9nmPjdg==~-1~-1~-1; bm_sz=C94730826E8E1C9FCCFCEFED3C92268F~YAAQhRWkbnxTj/iXAQAA1gXVAxyvxK5hAI0WGkz8IYwjmD6AAzLZBB2PGz5dq0TAxp6iurexCR1FpE+6IlA8Qhd/SolO2Vqi1hW7OVO9crLEbbOwExYdGxiWXXxuUXRlBYITY9PdDmk8/ATcgXGBhm4aE5QUiilMjp0xQeJoryGPn3YO1hR68bzreg1tNArx3ujTYGR53nhAsvzSey1LxXOMJxsSEvsjdQ+5dhRksVLdRqEqdLkxgf9VM27PnxzyuNl/HY/v/ef8vdRvEeti/LOII4EnV3mgu9jkxmZthhAgnQDY3LNs8IoOWaW19OI6C1NjHGtu9uVK08E4iU8iE3iuNBTWrdAg8bc6AuNiQexD4oAiEmGqSM1KBJ0V4u5CHJix~4407859~3224641'}

In [5]:
# view the request body
print("request body :", r.request.body)

request body : None

In [6]:
header = r.headers
print(header)

{'Content-Security-Policy': 'upgrade-insecure-requests', 'x-frame-options': 'SAMEORIGIN', 'Last-Modified': 'Sun, 13 Jul 2025 07:10:50 GMT', 'ETag': '"2a11d-639ca3e3ffb1c-gzip"', 'Accept-Ranges': 'bytes', 'Content-Type': 'text/html;charset=utf-8', 'X-Content-Type-Options': 'nosniff', 'Cache-Control': 'max-age=600', 'Expires': 'Sun, 13 Jul 2025 12:59:09 GMT', 'X-Akamai-Transformed': '0 - 0 -', 'Content-Encoding': 'gzip', 'Date': 'Sun, 13 Jul 2025 12:49:09 GMT', 'Content-Length': '32768', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding', 'Strict-Transport-Security': 'max-age=31536000'}

In [7]:
# obtain the date
header["Date"]

'Sun, 13 Jul 2025 12:49:09 GMT'

In [8]:
# content-type indicates the type data
header["Content-Type"]

'text/html;charset=utf-8'

In [9]:
# check encoding
r.encoding

'utf-8'

In [35]:
r.text[0:100]
# r.text # whole text

'\n<!DOCTYPE HTML>\n<html lang="en">\n<head>\r\n    \r\n    \r\n    \r\n    \r\n    \r\n    \r\n    \r\n      \r\n    \r\n  '

In [31]:
# save file image
path=os.path.join(os.getcwd(),'image.png')
with open(path,"wb") as f:
    f.write(r.content)

In [32]:
# save or dowload file txt.
URL = "<https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Example1.txt"
path = os.path.join(os.getcwd(),"Example1.txt")
r = requests.get(url)

with open(path,"wb") as f:
    f.write(r.content)

In [29]:
# open image

import os
print(os.path.exists(path))
# Image.open(path)

with open(path, "rb") as f:
    header = f.read(10)
    print(header)

True
b'\n<!DOCTYPE'

In [33]:
r.url

'https://www.ibm.com/us-en'

In [36]:
url_get='http://httpbin.org/get'

r.status_code

200

In [37]:
payload = {"name": "Joseph", "ID":"123"}
r = requests.get(url_get , params= payload)
r.url

'http://httpbin.org/get?name=Joseph&ID=123'

In [38]:
print("request body", r.request.body)

request body None

In [39]:
r.text

'{\n  "args": {\n    "ID": "123", \n    "name": "Joseph"\n  }, \n  "headers": {\n    "Accept": "*/*", \n    "Accept-Encoding": "gzip, deflate, br, zstd", \n    "Host": "httpbin.org", \n    "User-Agent": "python-requests/2.32.3", \n    "X-Amzn-Trace-Id": "Root=1-6873b74d-270ae75d4eacbaf63ebfde82"\n  }, \n  "origin": "171.4.216.181", \n  "url": "http://httpbin.org/get?name=Joseph&ID=123"\n}\n'

In [41]:
r.headers["Content-Type"]

'application/json'

In [42]:
# As the content 'Content-Type' is in the JSON format we can use the method json(), it returns a Python dict:
r.json()

{'args': {'ID': '123', 'name': 'Joseph'},
 'headers': {'Accept': '*/*',
  'Accept-Encoding': 'gzip, deflate, br, zstd',
  'Host': 'httpbin.org',
  'User-Agent': 'python-requests/2.32.3',
  'X-Amzn-Trace-Id': 'Root=1-6873b74d-270ae75d4eacbaf63ebfde82'},
 'origin': '171.4.216.181',
 'url': 'http://httpbin.org/get?name=Joseph&ID=123'}

In [43]:
r.json()["args"]

{'ID': '123', 'name': 'Joseph'}

## Post request

In [45]:
url_post='http://httpbin.org/post'

In [46]:
r_post=requests.post(url_post,data=payload)

In [47]:
print("POST request URL:", r_post.url)  # Use r_post instead of response

POST request URL: http://httpbin.org/post

In [48]:
print("POST request body:",r_post.request.body)
print("GET request body:",r.request.body)

POST request body: name=Joseph&ID=123
GET request body: None

In [50]:
# vies the form
r_post.json()["form"]

{'ID': '123', 'name': 'Joseph'}

## API Examples Random User

In [3]:
!pip install randomuser
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: randomuser in c:\users\you computer\appdata\roaming\python\python312\site-packages (1.6)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [69]:
import sys
print(sys.executable)

C:\Users\anaconda3\python.exe

In [70]:
import sys
!{sys.executable} -m pip install randomuser

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: randomuser in c:\users\you computer\appdata\roaming\python\python312\site-packages (1.6)

In [5]:
from randomuser import RandomUser
import pandas as pd

In [6]:
# creat random user object
r = RandomUser()

In [8]:
someList = r.generate_users(10)
someList

[<randomuser.RandomUser at 0x1855eedce60>,
 <randomuser.RandomUser at 0x1855eedc650>,
 <randomuser.RandomUser at 0x1855eedce00>,
 <randomuser.RandomUser at 0x1855eedcfb0>,
 <randomuser.RandomUser at 0x1855eedcf80>,
 <randomuser.RandomUser at 0x1855eedcf20>,
 <randomuser.RandomUser at 0x1855eedcf50>,
 <randomuser.RandomUser at 0x1855eedce90>,
 <randomuser.RandomUser at 0x1855eedcfe0>,
 <randomuser.RandomUser at 0x1855eedd040>]

In [10]:
# get method
name = r.get_full_name()
name

'Molly Brooks'

In [12]:
for user in someList:
    print(user.get_full_name(),":", user.get_email())

Ümit Balcı : umit.balci@example.com
Alexa Bishop : alexa.bishop@example.com
Levi Taylor : levi.taylor@example.com
Isaac Wang : isaac.wang@example.com
Jérémy Bernard : jeremy.bernard@example.com
Vicente Romero : vicente.romero@example.com
Francisca Diez : francisca.diez@example.com
Norman Rose : norman.rose@example.com
Lenni Tanner : lenni.tanner@example.com
Margarita Pascual : margarita.pascual@example.com

In [14]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Tim Clark,male,San Francisco,Vermont,tim.clark@example.com,1993-04-03T22:44:11.512Z,https://randomuser.me/api/portraits/men/15.jpg
1,Andro Niezen,male,Warnsveld,Noord-Holland,andro.niezen@example.com,1980-09-21T23:18:30.092Z,https://randomuser.me/api/portraits/men/25.jpg
2,Ivete Teixeira,female,Rondonópolis,Minas Gerais,ivete.teixeira@example.com,1978-10-18T07:52:18.350Z,https://randomuser.me/api/portraits/women/85.jpg
3,Hafida Van de Veen,female,Reduzum,Gelderland,hafida.vandeveen@example.com,1946-05-04T14:00:28.701Z,https://randomuser.me/api/portraits/women/92.jpg
4,Pasquale Harte,male,Winschoten,Utrecht,pasquale.harte@example.com,1994-12-10T13:49:43.010Z,https://randomuser.me/api/portraits/men/64.jpg
5,Shawn Bryant,male,Geelong,South Australia,shawn.bryant@example.com,1993-03-28T23:26:56.400Z,https://randomuser.me/api/portraits/men/19.jpg
6,Kimberly Osullivan,female,Ratoath,Wexford,kimberly.osullivan@example.com,1978-01-05T18:15:58.675Z,https://randomuser.me/api/portraits/women/16.jpg
7,Sofija Dalby,female,Torvik,Oslo,sofija.dalby@example.com,1959-10-03T07:26:32.755Z,https://randomuser.me/api/portraits/women/24.jpg
8,Jesus Welch,male,Geraldton,Australian Capital Territory,jesus.welch@example.com,1955-10-18T03:47:34.377Z,https://randomuser.me/api/portraits/men/60.jpg
9,Edward Bringedal,male,Langevåg,Description,edward.bringedal@example.com,1987-08-31T04:06:59.703Z,https://randomuser.me/api/portraits/men/84.jpg

In [16]:
df1 = pd.DataFrame(get_users())
df1

,Name,Gender,City,State,Email,DOB,Picture
0,Maddison Murray,female,York,Hertfordshire,maddison.murray@example.com,1945-08-06T05:54:52.459Z,https://randomuser.me/api/portraits/women/40.jpg
1,Sofia Smythe,female,Listowel,Galway City,sofia.smythe@example.com,1971-11-28T13:00:24.314Z,https://randomuser.me/api/portraits/women/63.jpg
2,Gascão da Cunha,male,Alagoinhas,Rondônia,gascao.dacunha@example.com,1990-08-24T14:12:13.071Z,https://randomuser.me/api/portraits/men/30.jpg
3,كيان سلطانی نژاد,male,نجف‌آباد,خراسان شمالی,kyn.sltnynjd@example.com,1993-12-22T03:43:31.472Z,https://randomuser.me/api/portraits/men/91.jpg
4,Seth Ramos,male,West Jordan,Maine,seth.ramos@example.com,1998-05-05T22:55:35.331Z,https://randomuser.me/api/portraits/men/61.jpg
5,Thomas Masson,male,Tourcoing,Somme,thomas.masson@example.com,1946-03-10T10:30:55.185Z,https://randomuser.me/api/portraits/men/83.jpg
6,Albane Mathieu,female,Saint-Denis,Allier,albane.mathieu@example.com,1979-12-25T22:48:59.236Z,https://randomuser.me/api/portraits/women/67.jpg
7,Mia Arnaud,female,Toulouse,Aveyron,mia.arnaud@example.com,1947-04-26T19:03:33.420Z,https://randomuser.me/api/portraits/women/2.jpg
8,Letitia Martinez,female,Toowoomba,Queensland,letitia.martinez@example.com,1959-01-08T15:01:16.652Z,https://randomuser.me/api/portraits/women/2.jpg
9,Antonia Hidalgo,female,Guadalajara,Castilla y León,antonia.hidalgo@example.com,1965-01-25T14:27:25.629Z,https://randomuser.me/api/portraits/women/80.jpg

## Fruityvice API

In [17]:
import requests
import json

In [19]:
data = requests.get("https://web.archive.org/web/20240929211114/https://fruityvice.com/api/fruit/all")

In [23]:
results = json.loads(data.text)
# print(results)

In [25]:
fruitsDF1 = pd.DataFrame(results)
# print(fruitsDF1)

In [34]:
fruitsDF2 = pd.json_normalize(results) #converts nested JSON data into a flat table (DataFrame) using Pandas.
fruitsDF2.head(10)
# fruitsDF2 # show all

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.0,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.5,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.0,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.9,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.0,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.1,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.0,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.3,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.0,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.0,0.80

In [36]:
Strawberry = fruitsDF2.loc[fruitsDF2["name"] == "Strawberry"]
(Strawberry.iloc[0]["family"]), (Strawberry.iloc[0]["genus"])

('Rosaceae', 'Fragaria')

In [39]:
Banana = fruitsDF2.loc[fruitsDF2["name"] == "Banana"]
print(f"Banana contained : {Banana.iloc[0]["nutritions.calories"]} calories")

Banana contained : 96 calories

In [41]:
fruitsDF2.drop(columns=["name","id"],inplace=True)
fruitsDF2

,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
26,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
27,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
28,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
29,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
30,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
31,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
32,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
33,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
34,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
35,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
36,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
37,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
38,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
39,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
40,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78
41,Betulaceae,Fagales,Corylus,628,61.00,4.30,17.00,15.00
42,Rutaceae,Sapindales,Citrus,37,0.00,8.50,9.67,0.82
43,Clusiaceae,Malpighiales,Garcinia,73,0.58,16.11,17.91,0.41
44,Cucurbitaceae,Cucurbitales,Cucurbita,25,0.30,3.30,4.60,1.10
45,Ebenaceae,Ericales,Diospyros,70,0.20,13.00,19.00,0.60
46,Caricaceae,Brassicales,Carica,39,0.30,4.40,5.80,0.50
47,Annonaceae,Rosales,Annonas,92,0.29,3.40,19.10,1.50
48,Salicaceae,Malpighiales,Dovyalis,47,0.30,8.10,9.60,1.20